<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre del Perro</th>
          <th scope="col">Fecha de Nacimiento</th>
          <th scope="col">Edad</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody *ngFor="let i of dogs; let index = index">
        <th scope="row"><img src="{{i.img}}" style="max-height: 100px; max-width: 100px;" alt=""></th>
        <td>{{ i.raza | uppercase}}</td>
        <td>{{i.cantidad}}</td>
        <td>
          <button class="btn btn-primary">Editar</button>
          <button class="btn btn-danger ml-2">Eliminarr</button>
        </td>
      </tbody>
    </table>
  </div>
</div>
