<div class="row" *ngIf="dogRazaList.length > 0">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre del Perro</th>
          <th scope="col">Fecha de Nacimiento</th>
          <th scope="col">Edad</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody *ngFor="let i of dogRazaList; let index = index">
        <th scope="row">{{ index+1 }}</th>
        <td>{{ i.nombre }}</td>
        <td>{{i.fechaNacimiento}}</td>
        <td>{{i.edad}} años</td>
        <td>
          <button class="btn btn-primary" (click)="editar(index)">Editar</button>
          <button class="btn btn-danger ml-2" (click)="eliminar(index)">Eliminar</button>
        </td>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="dogRazaList.length === 0">
  <h1>No se encontraron perros de la raza seleccionada!</h1>
</div>

