<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form [formGroup]="dogForm" (ngSubmit)="agregar()">
      <h3>Raza: {{ raza | uppercase}}</h3>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          name="nombre"
          id="nombre"
          class="form-control"
          formControlName="nombre">
      </div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker"  formControlName="fechaNacimiento" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      <div>
        <button class="btn btn-primary">Agregar</button>
      </div>
    </form>
  </div>
</div>
